@model IEnumerable<ProjekatFinalni.Models.Telefon>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BrojTelefona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OznakaTipa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lokal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KontaktID)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrojTelefona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OznakaTipa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lokal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KontaktID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
      
    }

</table>

