@model IEnumerable<ProjekatFinalni.Models.Kontakt>

@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RadnoMesto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SkolaID)
        </th>
        <th>
            Lista Email Adresa
        </th>
        <th>
            Lista Telefona
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RadnoMesto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SkolaID)
        </td>
        <td>
            @Html.ActionLink("Email", "Index", "Email", new { kontaktid = item.KontaktID }, null)
        </td>
        <td>
            @Html.ActionLink("Telefoni", "Index", "Telefoni", new { tkontaktid = item.KontaktID }, null)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.KontaktID }) |
            @Html.ActionLink("Details", "Details", new { id = item.KontaktID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.KontaktID })
        </td>
    </tr>

}

</table>

<p>
    @Html.ActionLink("Nazad", "Index", "Skola")
</p>
